* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

:root {
    --bg-dark-color: #222327;
    
    --text-color: #fff;
    --text-secundary-color: #a7a7a7;
    --main-color: #0099ff;
    --main-dark-color: #0050ff;
    --bg-subdark-color:#2c2c2c;
}

body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #171717;
    
    
}
/* ===== NAVBAR ===== */
header {
    background-color: var(--bg-dark-color);
}
header, main {
    padding: 28px 12%;
    transition: all .50s ease;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 7vh;
}
nav a {
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}
nav i {
    color: var(--main-color);
    margin-right: 7px;
    color: var(--main-color);
    font-size: 28px;
    font-weight: 7px;
    margin-right: 3px;
}
#nav2{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #171717;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    box-shadow: #000000;
}

#nav2 .logo{
    color: #0090ff;
    font-size: 35px;
    font-weight: 600;
}


.logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo span{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
}
/* ===== LOGIN & REGISTRO ===== */
.user {
    display: inline-flex;
    align-items: center;
}
main {
    display: flex;
    justify-content: space-around;
    height: 93vh;
}
main .content {
    height: 70%;
}
main .content span{
    font-weight: 600;
}
main .image-box img {
    max-height: 70%;
    max-width: 80%;
    border-radius: 30px;
}
main input {
    background: none;
    border: none;
    color: var(--text-secundary-color);
    border-bottom: 2px solid var(--text-secundary-color);
    width: 90%;
    margin-bottom: 2em;
    font-size: 1rem;
}
main .btn-user {
    text-decoration: none;
    padding: 1em;
    font-size: 16pt;
    cursor: pointer;
    margin-top: 40px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    color: var(--bg-dark-color);
    font-weight: bold;
    background-color: var(--main-color);
    text-align: center;
}
main input:focus {
    background: none;
    border: none;
    box-shadow: none;
    outline: 0;
    border-bottom: 2px solid var(--text-color);
    color: var(--text-color);
}
main .logo-user {
    display: flex;
    height: 70%;
    margin: auto;
}
main .logo-user div i {
    font-size: 100px;
    color: var(--main-color);
}
form h1 {
    font-weight: bold;
    padding: 1em;
    padding-left: 0;
    color: var(--main-color);
}
/* ===== MATÉRIAS ===== */
#slider {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .card .image {
    height: 250px;
    width: 250px;
    padding: 5px;
}
section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    background: var(--main-color);
}
.card {
    position: relative;
    background-color: #797979;
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--bg-dark-color);
    margin: 20px 0;
    padding-bottom: 1.4rem;
}
.card::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 20px 20px 0 0;
}
.card .card-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    position: relative;
    z-index: 100;
}
.card .icons-materias {
    color: #fff;
    position: absolute;
    font-size: 2em;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    opacity: 0.6;
}
.card .name-materia {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 10px;
    color: var(--text-color);
    /* padding-bottom: 1.4rem; */
}
.name-materia .name {
    font-size: 1.4rem;
    font-weight: 600;
}
.card .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}
.card .button button {
    background-color: var(--main-color);
    outline: none;
    border: none;
    color: var(--text-color);
    padding: 7px 20px;
    border-radius: 10px;
    font-size: 1.1em;
    transition: all 0.3 ease;
    cursor: pointer;
}
.card .button button:hover {
    background-color: var(--main-dark-color);
}

/* = = = = = = = = = = */
@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
    .user > span, main > .logo-user {
        display: none;
    }

    main {
        height: 70vh;
        margin-bottom: 0;
    }

}

.conteudo {
    margin: 0 auto;
    width: 100%;;
    max-width: 450px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: #525252;
    padding: 40px;
    border-radius: 12px;
}

.topo {
   display: flex;
   justify-content: space-between;
   margin-bottom: 35px;     
}

.topo input {
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #191818;
    outline: none;
    font-size: 1.2rem;
    background: #191818;
    color: #FFF;
}

.topo button {
    width: 45px;
    border-radius: 12px;
    border: 1px solid #000000;
    background: #686868;
    color: #FFF;
    outline: none;
}

.topo button:hover {
    background: #616161;
    cursor: pointer;
}

#listaTarefas {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listaTarefas li {
    padding: 20px;
    background: #686868;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btnAcao {
    border-radius: 20px;
    border: 1px solid #191818;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background: #2b2a2a;
    color: #FFF;
    outline: none;
}

.btnAcao:hover {
    background: #3c3a3a;
}

.textoTarefa {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    white-space: nowrap;
}

#janelaEdicao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #505050;
    border: 1px solid #2f2e2e;
    width: 415px;
    border-radius: 12px;
    z-index: 200;
    display: none;
}

#janelaEdicao.abrir {
    display: block !important;
}

#janelaEdicaoFundo {
    position: fixed;
    top: 0;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 100;
    right: 0;
    display: none;
}

#janelaEdicaoFundo.abrir {
   display: block !important;    
}

#janelaEdicaoBtnFechar {
    position: absolute;
    top: -25px;
    right: -18px; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #2d2c2c;
    background: #2d2c2c;
    color: #FFF;
    outline: none;
}

form {
    width: 100%;
    margin-top: 20px;
}

.frm-linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.frm-linha label {
    margin-bottom: 7px;
}

.frm-linha input {
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #191818;
    font-size: 1.2rem;
    background: #2d2c2c;
    color: #FFF;
}

.frm-linha button {
    background: #2d2c2c;
    border: 1px solid #191818;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: #CCC;
    cursor: pointer;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
}

.frm-linha button:hover {
    background: #3c3a3a;
} 

#ant{
    margin-left: 0px;
}
#caixa_txt{
    display: flex;
    width: 400px;
    height: 400px;
}
.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    color: #0099ff;
}
.card-anotacao {
    margin: 1em;
    box-sizing: border-box;
    display: flex;
    
    justify-content: center;
}
.card-anotacao #btnAddTarefa {
    margin-left: 0.5em;
}

.card-anotacao .btnAcao {
    margin-bottom: 0.5em;
}
.card-anotacao .margin-left {
    margin-left: 1.5em;
}
#btnAddAnotacao {
    width: 100%;
}
.card-anotacao-conteudo {
    margin-top: 1em;
    padding: 0.7rem;
    background-color: #686868;
    border-radius: 20px;
}

.esquerda, .direita {
    align-items:baseline;
    color: #fff;
}
.card-anotacao .texto {
    text-align: justify;
}
#titulo{
    background-color: #0D6EFD;
    border-radius: 5px;
    padding: 1%;

}
.box{
    display: inline-block;
}